version: "3.1"

services:
  app:
    build: .
    container_name: api
    ports:
        - '4000:4000'
    command: node dist/src
    environment:
        NODE_ENV: production
        PORT: 4000

  db:
    image: postgres
    container_name: postgres
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      PGDATA: /data/postgres
    volumes:
      - postgres:/data/postgres
    ports:
      - "5432:5432"
    networks:
      - postgres
    restart: unless-stopped

networks:
  postgres:
    driver: bridge

volumes:
  postgres:
