files:
  /etc/pki/tls/certs/server.crt:
    mode: "000400"
    owner: root
    group: root
    content: |
      -----BEGIN CERTIFICATE-----
      MIIFIzCCAwugAwIBAgIUdv7gIWBM5EgXuvkQYxbkOYunyicwDQYJKoZIhvcNAQEL
      BQAwITEfMB0GA1UEAwwWKi5lbGFzdGljYmVhbnN0YWxrLmNvbTAeFw0yMzAyMDkw
      NTM1MDFaFw0yNDAyMDkwNTM1MDFaMCExHzAdBgNVBAMMFiouZWxhc3RpY2JlYW5z
      dGFsay5jb20wggIiMA0GCSqGSIb3DQEBAQUAA4ICDwAwggIKAoICAQD2Bzo9MD4z
      /4hQOTgAOPNpy5KqpQZRGiNilcicezEBO7s2UTxVscniDLZDf+vFG3htQb6orPMu
      8s/8XFFYvoGss8AlGAgDn+n9zvJ9R4YGDJZOcuaZfo0vPVcUGKZGtezVwCIPwEKA
      MCuY2jheeqpwvA0Z2jdzOK2mYmFh0c0oD96XrufwLlAkT/GrUG9dOtJPL8ViHzVx
      K38WuZlXWvrNp7KrksihbgmZYKVSQGI5ruHnlpyShFGhQE/s1JXTCfwqmMI/ca24
      FVygJVC6pyX2XO+B2A1PxzeyKNz68qgCl3Spm8mQQTTJbfX661RYoRsUZMRyEyWr
      OqWT2gxN5Nm31KStMQ+Xt/IKaCbXlnmXO9uRD609FD0wacW2Ox46gslIXG9Ib/iJ
      4N9lkS9do8Jpb4jYmoPgcMEM2OfD/eOeeAuFbeVW8cq6W/SqN+xLWzQfg9SkuEZJ
      NgUHVX4BTWa7RIVkzUTlOTXA91xXxAjKoGAZkZW7Bmb3azG3H/ANVgbyksxH8GNE
      FxaOOqvqZIFFBwY4D41/Ew9ysXQPFHgBVmNL19yR9MlYB0+dC1J3U6tKP0hfczhR
      RbiLwLxOHDDNSroYo+uqUnt1EtLYxdEaI4GoSFk226cHBPf+pBapM8hDdYoRy0T2
      o32oOzxt0UgY/JxWW0rs+QPT54/Mg53+KwIDAQABo1MwUTAdBgNVHQ4EFgQUj0qF
      RWr68Y4cb0rknofZyuHn/zMwHwYDVR0jBBgwFoAUj0qFRWr68Y4cb0rknofZyuHn
      /zMwDwYDVR0TAQH/BAUwAwEB/zANBgkqhkiG9w0BAQsFAAOCAgEAK5K6a4CGbe6R
      57YsefHoFHI4UfYNn5YLx3SUWR+4/eVbz0sHjoRQDeLJCx6wJUbM0WYMe0DmXA0k
      0T8eM1tgA1rh0aQ634+TZredNydwTKEqeqDYBl9LoacEULUlT5nGdISIZ9CvueoE
      47CmjXMhbmpZjf62uEdMallTncMujj1HxTmIoNkPOMPL9BySsheu5kxRP3koA+mg
      iYACpi6bupZsbjBTnVne+B+AEMugdqrLFyTjYt8OvY6FZD/IIINxQyoYY9/QEzts
      Gksx+IQwyAvuozGG2JM7GN/pGbyCFzVu6qAnIMPPGmrXEGbLxk/IzXs6e19dIwy9
      PYri56utiAbfpdgHJN2UPwJo05rFa0PHLO6dAAfu8VpmFDGk5XVzsJ+basLXgbP9
      QunHtztIZfZw66Zks91/saRbL4yKanyotp6bWJCZpchYTkusr4ybAgSmuZcvt6gh
      znC9oLV8Ww94qH3wdXuPn8fAwch16oHc5rixDOHYvIwSKhW6LfxOlakhCs6TPj0E
      3NI07Wsfv0H0QPF+hOVgncRWmFZ6tkzyd7QlI3bFdtwCNSatODYHCrPmr9MI+yjS
      GtOEANyMkDrtCeP3KHQcDgGz5Ga0tdX1Vp4sFEdJT3gcAX3v2NQuikoxWDDCdKh6
      Q/tMXMJomQR/AKNxP1Vc+BbTLtia66s=
      -----END CERTIFICATE-----
  /etc/pki/tls/certs/server.key:
    mode: "000400"
    owner: root
    group: root
    content: |
      -----BEGIN RSA PRIVATE KEY-----
      MIIJQgIBADANBgkqhkiG9w0BAQEFAASCCSwwggkoAgEAAoICAQD2Bzo9MD4z/4hQ
      OTgAOPNpy5KqpQZRGiNilcicezEBO7s2UTxVscniDLZDf+vFG3htQb6orPMu8s/8
      XFFYvoGss8AlGAgDn+n9zvJ9R4YGDJZOcuaZfo0vPVcUGKZGtezVwCIPwEKAMCuY
      2jheeqpwvA0Z2jdzOK2mYmFh0c0oD96XrufwLlAkT/GrUG9dOtJPL8ViHzVxK38W
      uZlXWvrNp7KrksihbgmZYKVSQGI5ruHnlpyShFGhQE/s1JXTCfwqmMI/ca24FVyg
      JVC6pyX2XO+B2A1PxzeyKNz68qgCl3Spm8mQQTTJbfX661RYoRsUZMRyEyWrOqWT
      2gxN5Nm31KStMQ+Xt/IKaCbXlnmXO9uRD609FD0wacW2Ox46gslIXG9Ib/iJ4N9l
      kS9do8Jpb4jYmoPgcMEM2OfD/eOeeAuFbeVW8cq6W/SqN+xLWzQfg9SkuEZJNgUH
      VX4BTWa7RIVkzUTlOTXA91xXxAjKoGAZkZW7Bmb3azG3H/ANVgbyksxH8GNEFxaO
      OqvqZIFFBwY4D41/Ew9ysXQPFHgBVmNL19yR9MlYB0+dC1J3U6tKP0hfczhRRbiL
      wLxOHDDNSroYo+uqUnt1EtLYxdEaI4GoSFk226cHBPf+pBapM8hDdYoRy0T2o32o
      Ozxt0UgY/JxWW0rs+QPT54/Mg53+KwIDAQABAoICAAsjEJ6BzI8LW4mmIsQqenpT
      iMlzZvHM6Rp8BUoaxCvLdGdlDgIjENchaYQXX6jbMXxgpCzRMhZHT5BGQuMYMe6L
      bys+sejYGFOGRrEnx7KxEddt7sUMAYAd8A8s089nn4JINu0s8CsKrdk20k5p5xqV
      /fx+8FD67oFq+qre6xaL1rEEbeNldU3vgH/CHbMZXTklxHLzTraswrgDTCRe2J5D
      9RvnLRssTABGwQppd7N8wyUkoDnRsOWdGlZyLnC7MaW2pzRlWk5288EcGfzDtug2
      v3DKmEUAPk6GTa/ebtSPM+y+7Jo8br303amvdXCoT6grV5PXt2DPlXyNO6QFtAU+
      QF+ZS8hMZl7iSVbyoklQlHufPOqmkSlIUaztLVxnB2QpHm4dKpldwd/dir4hAI9r
      Vxlsr0dWS9rgckFw+5QRoV1Rd8Cm+uh4tFFiFZ0rJpzfb1XZPewTGAGRm9vny+Zq
      TF2q51LQnIM79xhZ9Zo5/kpXsFUGW5ktNBkDJHJvV8jqZsEBITa8vbH+IpV4BVmL
      weHvATFg8yu5ve83+Y9bPcmR/ml7dwf5uXllHITQtekCplxVACnLo2cmwb0XzrGO
      Hh0ObnNCcahOGaal1NGTsFqB9VYMfpNLJb02U4EGKJdAI8jIzQ5WoD463H1vUBDK
      y2uz9kFy3thOgUaK2sKhAoIBAQD3Pvo4/yqaILT1/yR8yiJUvUwQI33dais6xfrC
      o5t/WVekCFX761AxXeTz7GUGK+uIdIRAU1Lv5niQA0H6UWQ6gCyIqPtuGGC7g+VG
      8J8xkuj3EZ/gPXOQYnBbrLdX3HGwORxeAOuD5Z9Ak69ye3WucTbmvDMyoBhub8VP
      ZMA8lMGBvKM8MJQK31ktZHFKdBd25sA4givr9Gu2KM3qQjflN+pWbw0v7nDNLqc1
      g3pV+7G5iFhOinecNaCiYc9FTeuVB0jQ4WXYtRIwgbBmCzNio5ZYcBIVX0F8fsZf
      bTPh++u8x0zZkgfYmf6bdvbcXm8CWWY9mA0NL1XNjUtHQIrlAoIBAQD+vTZViw24
      G5tX5ylhX7omPnfDFkwz2Vx/oNGLnG0pFBSS5n7bT4JezUyoxbQQaXftpn/6LBBN
      JfRyGZ2xcrn2qTzOtRk8g8y3YjUHY/pVtxJcTiBK4V8qohKFmkbEbZAIuZbZ1kss
      dEXM51mk6g0R38i5WJsnmVlWgarGhfzO7Z/oPqM33Ggy88dNi7xMxzQkBPluiJaB
      fghIlWIFcKNnhWZbWIIw2TnFro4tM38DbwQNObrqiHIg84w9r+FPI2z5CPHy9Afh
      BCoRNMoSncw/JcpnH1WhaJS3NldT5xHEfCRX94AXDGfb7MsRU8N8bzwygW2UnORt
      ILsUdzJLyQPPAoIBAQC/rtKdh64Gqh7BrNoj6S4ulke3J1z4YMw9F6puZhsy4xgg
      Mto+odOdQlcziO1VmI1VUEgL+s2M8hg8RlpLb/iNpjtgg+nSFBJCrmH92qUA8Q2u
      JrrVRa8nnDnRyRinhF+bqNtGQd5Vdps9nIHj9rVo1ZsjzXq/4ACw9fR5tfmXvhg7
      tfyzuFG+ECR6Han7d/+NDh6ucLUOjINJSV9DI61kBzKlahlGNMy9NlMqGNGqgaTq
      2zrjQVS0BZuQ6NWhvGRNOMWKM4UbOl5svs78feiLq5nu3IwYh64kj8DJ0Mbth7re
      s4DwGNf+ZH1RGC0Q8iGMJ7UtQYm01CLoZoebKP3FAoIBABpEnKO5kRKZFi28UpIN
      8v4alvLxC66VDWrDxJfm64K+5Vg4mIA49LKd7PfCW00N8yX4c13yyUOLVGenqJEx
      yWdcED8ogY+x75xBbkJy1s+b7zLBg6b1EoEs8UgBnqaGvcGIkbuo01ukKcZ1XNMa
      p3peXy5tqqIst/+po1iRXH5iFok2XFJYUg5fAQBIFoS8Te4g7S+uugZkXqpNbSwu
      b0svgFyPBe3PmJt/4n1awBA0lHBgsZuZslsfgiiiSFOGzafoejqZW26ipUvc67F7
      wCIK3ZJAsu3QAPXbjqnCPBzMyFqh1P2Lc/JDurTwtEnSlpyGqCwY+Z0fMOttVyxl
      cBUCggEATaXbjc2x6Ig0/B6hkxER0qnYY17rCizkP7ubn2rY7tICfwBrjKLl9CPW
      2Mrr1k+IOM37U2bqFYoPyicDEhUhvREDnJGP8LxvoAdHkw6osL+rmIC4/o+odBRX
      myOja82WG6gUYRf2ABly6Ux5Ea6xCP+0CNltZ/LBLucT0KiqlB2/D5l7vD6RuAK5
      PdqSOKTjuoZhkOIgh4wZ2hYFzAcRzuQzX8ksoDViOMnesbeyBfu4HFCT9eB04A6G
      Qk0UjGKKvIsg9LaRNmPBCg9D78m61biYw+kQrVpVu2+bQp6YaHo9zmnAAWzRFKIT
      rMtQS1xFEzdhFcLZw50YVUpzc43FIw==
      -----END RSA PRIVATE KEY-----
